DEBUG=
APP_NAME=
DJANGO_SECRET=
ENCRYPTION_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# REDIS
REDIS_HOST=
REDIS_PASSWORD=

# Postgres
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
