{% extends "base.html" %}
{% load tz %}
{% load markdown_tag %}

{% block title %}
	{{ application.role }}
{% endblock %}

{% block content %}
	<section class="lg:px-60 grid grid-cols-[1fr_0.6fr]">
		<div class="w-full mb-10">
			<div class="flex justify-between align-center w-1/2">
				<h1 class="text-4xl">{{ application.role }}</h1>
				<span
					class="badge-neo"
					style="background-color: #{{ current_tag.colour }}"
					>{{ current_tag }}</span
				>
			</div>
			<h3 class="text-2xl">{{ application.company }}</h3>

			{% timezone "Pacific/Auckland" %}
				<h4>
					{{ application.applied_timestamp|date:"d M Y" }} --
					{{ elapsed_days }}
				</h4>
			{% endtimezone %}

			{% if application.job_description != "" %}
				<article
					class="max-w-full mt-10 block border-2 border-black bg-white p-4 shadow-[4px_4px_0_0] prose"
				>
					{{ application.job_description|render_markdown }}
				</article>
			{% endif %}
		</div>
		<div>
			{% include 'partials/application_timeline.html' with tags=application_tags %}
			<div class="w-full mt-10 flex justify-center">
				<a
					href="{% url 'application-update' pk=application.id %}"
					class="btn-neo"
					>Update Application</a
				>
			</div>
		</div>
	</section>
{% endblock %}
