<nav class="flex justify-center">
	<div role="tablist" class="-mb-0.5 flex gap-3">
		<a
			role="tab"
			href="{% url 'dashboard' %}"
			aria-selected="true"
			class="hover:cursor-pointer border-2 border-black bg-yellow-300 px-6 py-2 font-semibold text-black shadow-[4px_4px_0_0] focus:ring-2 focus:ring-yellow-300 focus:outline-0"
		>
			Dash
		</a>

		<a
			role="tab"
			aria-selected="false"
			href=""
			class="hover:cursor-pointer border-2 border-black px-6 py-2 font-semibold shadow-[4px_4px_0_0] hover:translate-1 hover:shadow-none focus:ring-2 focus:ring-yellow-300 focus:outline-0"
		>
			Stats
		</a>

		<a
			role="tab"
			aria-selected="false"
			href=""
			class="hover:cursor-pointer border-2 border-black px-6 py-2 font-semibold shadow-[4px_4px_0_0] hover:translate-1 hover:shadow-none focus:ring-2 focus:ring-yellow-300 focus:outline-0"
		>
			Settings
		</a>
	</div>
</nav>
